{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Annulation{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1>Annulation</h1>

            <h4>Code</h4>
            <ul>
                <li>Forfait code<span class="prix">250 €</span></li>
                <li>Pass Rousseau sur Internet<span class="prix">35 €</span></li>
                <li>Une présentation à l'examen<span class="prix">30 €</span></li>
            </ul>

            <h4>Conduite</h4>
            <ul>
                <li>Une heure de conduite<span class="prix">46 €</span></li>
                <li>Evaluation conduite<span class="prix">46 €</span></li>
                <li>Avec un examen<span class="prix">46€</span></li>
            </ul>
        </div>
    </div>
{% endblock %}
