{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Attestation boîte auto/manuelle{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1>Attestation Boite auto/manuelle - 322€</h1>
            <p>
                La formation est réalisée sous la présence effective et constante de l’enseignant titulaire d’une
                autorisation d’enseigner en cours de validité. Elle est dispensée à bord d’un véhicule à changement de
                vitesses manuel appartenant à l’établissement d’enseignement de la conduite et de la sécurité routière
                agréé ou de l’association d’insertion ou de réinsertion sociale ou professionnelle agréée.
            </p>

            <h4>Objectif de la formation</h4>
            <p>
                A l’issue de la formation, le conducteur doit être en capacité d’utiliser, en sécurité, un véhicule muni
                d’un changement de vitesses manuel de façon simultanée avec les autres tâches de conduite. Elle peut
                être suivie 3 mois après l’obtention de la catégorie B.
            </p>

            <h4>Structure et contenu de la formation</h4>
            <p>
                Cette formation est pratique et individuelle, mais des apports théoriques indispensables sont délivrés
                par
                l’enseignant, à bord du véhicule. La formation comprend 2 séquences sur 7 heures :
            <p/>
            <ul>
                <li>
                    Une séquence de 2 heures ( 1 heure au maximum sur simulateur) dans un trafic nul ou faible, l’élève
                    doit
                    acquérir les connaissances et les compétences suivantes :
                </li>
                <ul>
                    <li>comprendre le principe du point de patinage de l’embrayage et assurer sa mise en œuvre</li>
                    <li>être en capacité de réaliser un démarrage en côte en toute sécurité</li>
                </ul>
                <li>
                    Une séquence de 5 heures.  Elle se déroule dans des conditions de circulation variées, simples et
                    complexes. Elle permet l’acquisition. des compétences suivantes :
                </li>
                <ul>
                    <li>
                        savoir utiliser la boîte de vitesses manuelle de façon rationnelle et en toute sécurité dans les
                        conditions de circulation précitées et adopter les techniques de l’éco-conduite
                    </li>
                    <li>
                        être en capacité de diriger le véhicule en adaptant l’allure et la trajectoire à l’environnement
                        et aux
                        conditions de circulation
                    </li>
                    <li>Suivi de la formation pour conduire un véhicule à boîte manuelle</li>
                </ul>
            </ul>

            <p>
                A l’issue de la formation, l’auto-école délivre au conducteur bénéficiaire de la formation une
                attestation,
                il en transmet un exemplaire à la préfecture.
                La liste des bénéficiaires de l’attestation de formation est conservé par l’auto-école pendant 5
                ans.
            </p>

            <span class="commentaire">
                Prix TTC. Tarifs en vigueur au 01 septembre 2019. Les fiches tarifs servent de documentation, elles sont à votre disposition.
            </span>
        </div>
    </div>
{% endblock %}
