{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Conduite seule{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1>La conduite seule - 994 €</h1>

            <h4>Avant inscription</h4>
            <ul>
                <li>Évaluation de départ dynamique avec un moniteur sur véhicule<span class="prix">46 €</span></li>
            </ul>

            <h4>Inscription</h4>
            <ul>
                <li>Fournitures pédagogiques <span class="commentaire">(livret formation, fiche suivi)</span><span class="prix">43 €</span></li>
            </ul>

            <h4>Forfait conduite</h4>
            <ul>
                <li>20 heures de conduite <span class="commentaire">(20h obligatoires minimum, 46€ x 20h)</span><span class="prix">920 €</span></li>
                <span class="commentaire">Toutes les heures supplémentaires sont au tarif en vigueur.</span>
                <li>1 présentation à l'examen pratique <span class="commentaire">(conduite)</span><span class="prix">46 €</span></li>
            </ul>

            <h4>Financement</h4>
            <ul>
                <li>331 € à l'inscription</li>
                <li>331 € à la 1ère heure de conduite</li>
                <li>332 € à la 11ème heure de conduite</li>
                <span class="commentaire">Toutes les heures supplémentaires sont au tarif en vigueur.</span>
            </ul>

            <h4>Pièces à fournir</h4>
            <ul>
                <li>1 photocopie recto verso du dossier d’inscription sur le site ANTS</li>
                <li>1 copie de l’attestation de réussite au passage de l’examen du code de la route</li>
            </ul>

            <span class="commentaire">
                Prix TTC. Tarifs en vigueur au 01 septembre 2019. Les fiches tarifs servent de documentation, elles sont à votre disposition.
            </span>
        </div>
    </div>
{% endblock %}
