{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Financement{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1>Financement</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2>L'objectif</h2>
            <p>
                Renforcer les compétences acquises lors de la formation initiale du permis et durant les premiers
                mois de conduite autonome, afin de conduire de manière plus sûre.
            </p>

            <h2>Au programme</h2>
            <p>
                La formation suscite l'échange sur les expériences de conduite entre conducteurs novices. Elle
                s'articule autour de 2 thématiques.
            </p>

            <h2>Thématique 1</h2>
            <p>
                Améliorer la compréhension et la gestion de situations de conduite complexes.
            </p>

            <h2>Thématique 2</h2>
            <p>
                Rendre les déplacements plus sûrs et plus citoyens par des choix de mobilité responsables.
            </p>

            <p>
                A l'issue de la formation, votre auto-école vous délivre une attestation de suivi de la formation
                complémentaire post-permis.
            </p>

            <p>
                Dâte provisoire de lancement du service : mai 2020. Etant tributaire du nombre d'inscrits, cette
                peut-être modifiée.
            </p>
            <p>
                Pour en apprendre plus,
                <a target="_blank" href="https://www.securite-routiere.gouv.fr/passer-son-permis-de-conduire/permis-probatoire/les-stages-post-permis-et-reduction-de-la-periode">
                    cliquer-ici.
                </a>
            </p>
        </div>
    </div>
{% endblock %}
