{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Accueil{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1>Bienvenue sur le site de l'Auto-Ecole du 8 Mai</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <p>
                Ici vous pourrez trouver des informations concernant les diffétentes formations que je propose,
                ainsi que l'ensemble de mes tarifs.
            </p>
            <p>
                Il y a également à votre disposition des documents qui vous aideront dans l'obtention de votre permis de conduire.
            </p>
            <p>
                Je reste bien évidement à votre disposition dans le cadre de mes horaires de bureau.
            </p>
            <p>A plus tard sur la route ! &#128516;</p>
        </div>
        <div class="col-lg-6">
            <h4>Me trouver</h4>
            <iframe width="100%" height="300px" frameborder="0" allowfullscreen
                    src="http://umap.openstreetmap.fr/fr/map/carte-sans-nom_359834?scaleControl=false&miniMap=false&scrollWheelZoom=true&zoomControl=null&allowEdit=false&moreControl=false&searchControl=null&tilelayersControl=null&embedControl=null&datalayersControl=true&onLoadPanel=undefined&captionBar=false"></iframe>
        </div>
    </div>
{% endblock %}