{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Parcours de formation{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1>Parcours de formation</h1>

            <p>
                Apprendre à conduire est une démarche responsable. Le parcours qui vous est proposé vous permettra
                d’atteindre le niveau requis pour prétendre à l’examen de conduite et pour pouvoir circuler en toute
                sécurité. Il vous faudra prendre conscience que ce qui est appris en formation doit progresser et
                évoluer, après l'obtention du permis de conduire, en tenant compte des mêmes objectifs sécuritaires que
                lors de votre apprentissage. Vous allez apprendre à manipuler une automobile et à circuler dans
                différentes configurations, à en connaître les risques et les limites. Vous allez au travers de ce
                parcours comprendre les règles du code de la route ainsi que l'influence des lois physiques,
                psychologiques et physiologiques. Vous devrez également vous situer personnellement en tant que citoyen
                dans vos choix de conduite. En vous engageant dans cette formation, vous vous engagez à suivre
                obligatoirement le parcours de formation suivant :
            </p>

            <h4>Parcours théorique</h4>
            <p>
                La formation théorique qui porte sur des questions « d’entraînement au code » pourra être suivie à votre
                rythme, soit dans les locaux de l’école de conduite, soit via internet. Les cours théoriques, portant
                sur différentes thématiques, se déroule collectivement, dans les locaux de l’école de conduite, et est
                dispensée en présence d’un enseignant de la conduite et de la sécurité routière titulaire d’une
                autorisation d’enseigner en cours de validité. Les horaires des cours théoriques sont affichés dans
                l’établissement. Vous devez obligatoirement assister aux X cours suivants (A vous de choisir le nombre
                de cours obligatoires, 2 minimum, puis lister ci-dessous tous ceux que vous proposez): Les thématiques
                portent sur :
            </p>
            <ul>
                <li>La vigilance et les attitudes à l'égard des autres usagers de la route</li>
                <li>Les effets de consommation d'alcool, de drogues et de médicaments sur la conduite</li>
                <li>L'influence de la fatigue sur la conduite</li>
                <li>Les risques liés aux conditions météorologiques et à l'état de la chaussée</li>
                <li>Les usagers vulnérables</li>
                <li>Les gestes de premier secours</li>
                <li>Les précautions pour monter et quitter un véhicule</li>
                <li>Le chargement</li>
                <li>La réglementation relative à l'obligation d'assurance et les documents administratifs</li>
            </ul>
            <p>
                Quand le nombre de fautes approche ce qui est demandé lors de l ETG (Examen Théorique Générale) en
                concertation avec l’enseignant (e) l’élève peut décider d’une inscription à l’examen. Pensez à vérifier
                les horaires de ces cours, sur les panneaux d’affichage.
            </p>

            <h4>Parcours pratique</h4>
            <p>
                Il faudra mettre en pratique l’enseignement théorique afin de circuler en toute sécurité dans divers
                environnements
            </p>
            <ul>
                <li>En agglomération : circulation dense, feux, bus, tram...</li>
                <li>Hors agglomération : route étroite, absence de marquage au sol, engin agricole...</li>
                <li>Sur périphérique ou rocade : insertion, sortie, adaptation de la vitesse au flux de la
                    circulation...
                </li>
                <li>De nuit , par temps de brouillard ou de pluie...</li>
            </ul>
            <p>
                Un voyage école vous sera proposé. Il permet de partir en groupe de trois élèves qui conduisent à tour
                de rôle sur une demi-journée ou une journée. Avant de partir, les élèves préparent au préalable
                l'itinéraire. Ces voyages permettent d'apprendre à lire une carte, à utiliser un GPS. Ils favorisent
                l'autonomie et vous permettent également d'apprendre en observant les autres élèves. De l'écoute
                pédagogique vous sera proposée. Cela consiste à observer un élève qui conduit, vous l'observez, vous
                écoutez les explications et les conseils de l'enseignant et vous participez de manière active en faisant
                part de vos observations et de vos réflexions. Vous allez apprendre à manipuler une automobile, à
                circuler dans différentes configurations et à en connaître les risques et les limites. Cela demande de
                la motivation et de la persévérance. Lorsque l’ensemble des compétences requises sera validé, votre
                formateur pourra alors vous présenter aux épreuves du permis de conduire.
            </p>
        </div>
    </div>
{% endblock %}
