{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Permis AAC{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1>Permis AAC</h1>
            <h4>Avant l'inscription</h4>
            <p>Evaluation de départ dynamique avec un moniteur sur véhicule</p>
            <span class="prix">46 €</span>
        </div>
    </div>
{% endblock %}
