{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Accueil{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1>Règlement intérieur de l'Auto-Ecole du 8 Ma</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>
                Ce règlement a pour objet de définir les règles relatives à l'hygiène, à la sécurité ainsi qu'à la
                discipline nécessaire au bon fonctionnement de l'établissement. Ce règlement est applicable par
                l'ensemble des élèves.
            </p>

            <h2>Article 1</h2>
            <p>
                L'Auto-Ecole du 8 Mai applique les règles d'enseignement selon les lois en vigueur,
                notamment l'arrêté ministeriel référentiel pour l'éducation à une mobilité citoyenne (REMC).
            </p>

            <h2>Article 2</h2>
            <p>
                Tous les élèves inscrits dans l’établissement l’AUTO ÉCOLE DU 8 MAI se doivent de respecter les
                conditions de fonctionnement de l’auto-école sans restriction, à savoir :
                <ul>
                    <li>Respect envers le personnel de l’établissement</li>
                    <li>Respect du matériel</li>
                    <li>Respect des locaux (propreté il y a une poubelle à disposition, dégradation)</li>
                    <li>Respect des autres élèves sans discrimination aucune.</li>
                    <li>Respect des horaires de code afin de ne pas perturber le bon déroulement de la leçon en cours.</li>
                    <li>
                        Avoir une hygiène corporelle, une tenue décente et des chaussures tenant aux pieds.
                        Un comportement correct et adapté à l’apprentissage de la conduite
                    </li>
                    <li>
                        Ne pas fumer à l’intérieur de l’établissement, ni dans les véhicules écoles. Ne pas consommer
                        ou avoir consommé toute boisson ou produit pouvant nuire à la conduite d’un véhicule (alcool,
                        drogue, médicaments…). En cas de doute l’enseignant peut faire valoir son droit de retrait,
                        cela entraîne de fait l’annulation de la leçon mais pas son règlement.
                    </li>
                    <li>Il est interdit de manger et de boire dans la salle de code et dans les véhicules.</li>
                    <li>Il est interdit d’utiliser le matériel vidéo sans y avoir été invité.</li>
                    <li>
                        Il est interdit d’utiliser des téléphones portables pendant les séances de code et les cours de conduite.
                    </li>
                </ul>
            </p>

            <h2>Article 3</h2>
            <p>
                Conformément à la réglementation en vigueur, l’établissement doit procéder à une évaluation de
                départ obligatoire, facturée, qui permet d’estimer approximativement le volume d’heures de conduite
                en fonction des aptitudes du candidat. Celui-ci n’est pas définitif, il peut varier par la suite au
                cours de la formation. Toute personne n’ayant pas constitué le dossier d’inscription et réglé le 1er
                versement n’a pas accès à la salle de code. L'accès libre à la salle de code nécessite une carte.
                Une caution de 30 euros est demandée et ne sera pas rendue en cas de perte ou détérioration celle-ci.
                Les horaires des cours de code sont lundi, mercredi et vendredi de 18h à19h ainsi que le vendredi et
                le samedi de 11h à 12h. Sauf le dimanche et les jours fériés. L’auto-école propose également le code
                en ligne, un accès illimité valable 6 mois pour les élèves n’ayant pas la possibilité de venir
                à l’auto-école.
            </p>

            <h2>Article 4</h2>
            <p>
                Toute leçon de conduite non décommandée 48 h ouvrable à l’avance, sans motif valable avec justificatif
                (certificat médical ou autre) sera facturée. Aucune leçon ne peut être décommandée par message sur
                répondeur, Sms, ou réseaux sociaux. Les annulations doivent être faites pendant les
                heures d’ouverture de l’auto école.
            </p>

            <h2>Article 5</h2>
            <p>
                Il est demandé aux élèves de penser à lire les informations mises à leur disposition sur la
                porte de l’établissement (annulation des séances, fermeture du bureau, autres).
            </p>

            <h2>Article 6</h2>
            <p>
                A la première leçon de conduite, il sera remis à l’élève son livret d’apprentissage. Il faudra en
                prendre le plus grand soin car la présence de celui-ci est obligatoire (ainsi qu’une pièce d’identité)
                pour les leçons de conduite. En cas de non présentation du livret aux forces de l’ordre, les
                conséquences éventuelles seront imputables à l’élève.
            </p>

            <h2>Article 7</h2>
            <p>
                L’élève doit respecter le code de la route, à défaut d’une infraction commise, il prendra en charge
                pécuniairement son amende.
            </p>

            <h2>Article 8</h2>
            <p>
                Le contrat est conclu pour une durée maximale de 12 mois à compter de la date de signature. Dans le
                cas ou l’élève interrompt momentanément ou définitivement sa formation qu’elles qu’en soient les
                raisons, il s’engage à informer aussitôt son auto-école par écrit. En cas d’interruption de plus de
                6 mois et de moins de 1 an , l’auto-école sera fondée à réclamer à l’élève pour les prestations
                restant à fournir, un rajustement du prix d’origine en fonction du tarif en vigueur au jour de la
                reprise. Sans nouvelle de l’élève au delà de 1 an, l’auto-école considérera que celui-ci à renoncé
                à sa formation et ne pourra la reprendre ou en obtenir le remboursement.
            </p>
            <p>
                En cas de résiliation par l’élève pour des raisons autres que celles de force majeure, (maladie grave,
                mutation de l’élève, vous rendant dans l’incapacité d’assurer votre formation) l’élève décidant la
                rupture du contrat, le montant intégral de sa formation reste dû à l’auto-école mais sans qu’il puisse
                avoir lieu à dommages et intérêts.
            </p>
            <p>
                De même que l’auto-école se réserve le droit de résilier tout moment la formation de l’élève en cas
                de comportement de celui-ci contraire au règlement intérieur de l’auto-école.  Le contrat sera
                définitivement résilié après solde de tout compte.
            </p>
            <p>
                En cas de réclamation, le client consommateur doit dans un premier temps s’adresser à l’AUTO ÉCOLE DU 8 MAI.
            </p>
            <p>
                En second recours, il peut s’adresser au Médiateur du Conseil national des professions de l’automobile
                (CNPA) : par courrier, au moyen d’un formulaire de saisine téléchargeable sur le site du médiateur,
                à l’adresse :
            </p>
            <p>
                M. le Médiateur du Conseil national des professions de l’automobile (CNPA) 50, rue Rouget de
                Lisle 92158 SURESNES Cedex
            </p>

            <h2>Article 9</h2>
            <p>
                Aucune présentation à l’examen pratique ne sera faite si le solde du compte n’est pas été réglé avant
                la date de l’examen.
            </p>

            <h2>Article 10</h2>
            <p>
                Une date d'examen pour les épreuves théorique et pratique est attribuée. Pour l’examen du « code de
                la route », l’élève a la possibilité de s’inscrire seul sur les sites agréés à 30 euros. A ce
                moment-là, le numéro NEPH lui sera remis ou bien l’élève choisit d’être inscrit par l’auto-école,
                un mandat sera signé pour cet accord et une redevance ETG à 30 euros par session sera facturée.
                Attention, en cas d'échec à l'examen pratique, la représentation au permis de conduire sera payante,
                selon le tarif en vigueur. Les cours de conduite supplémentaires seront décidés par l’AUTO ÉCOLE DU 8
                MAI au tarif en vigueur. En cas de contestation le dossier sera rendu à l’élève.
            </p>

            <h2>Article 11</h2>
            <p>
                Tout manquement de l’élève à l’une des dispositions du présent règlement intérieur pourra, en
                fonction de sa nature et de sa gravité, faire l’objet d’une des sanctions ci-après désignés par
                ordre d’importance. Avertissement oral, écrit, ou suspension provisoire jusqu'à pouvant aller à
                l'exclusion définitive de l’établissement. Le responsable de l’établissement peut décider d’exclure
                un élève à tout moment du cursus de formation pour un des motifs suivants : Non paiement, Attitude
                empêchant la réalisation du travail de formation, Évaluation par le responsable pédagogique de
                l’inaptitude de l’élève pour la formation concernée.
            </p>

            <p>
                La direction de l’ AUTO ÉCOLE DU 8 MAI est heureuse de vous accueillir et vous souhaite une excellente formation.
            </p>
        </div>
    </div>
{% endblock %}
