@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";

#logo {
    width: 200px;
}

#logo_securite-routiere, #logo_permis-1-euro {
    width: 100px;
}

#logo_pass-rousseau {
    width: 80px;
}

footer {
    width: 100%;
    margin-top: 10px;
    padding-top: 10px;
}

.prix {
    float: right;
}

.commentaire {
    font-size: small;
}