@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";

body {
    background-color: lightgray;
}

#logo {
    width: 200px;
}

#logo_securite-routiere, #logo_permis-1-euro {
    width: 100px;
}

#logo_pass-rousseau {
    width: 80px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}